@font-face {
    font-family: "Dominique";
    src: url("https://static1.squarespace.com/static/63152f42cd20fc07b5d4f84a/t/63194ad8a91f582b89c0f2e0/1662601946988/Dominique.otf");
}

h1 {
    font-family: "Dominique", sans-serif;
}

/* footer icons  */
.footer__information__item {
    padding-bottom: 1rem;
}
.footer__information__item p {
    display: flex;
    align-items: center;
}
.footer__information__item p,
.footer__information__item a {
    color: #7e4082;
}
.footer__information__item p::before {
    width: 18px;
    padding-right: 1rem;
}

.footer__information__item.location p::before {
    width: 16px;
    content: url("https://cogbranding.github.io/COGbrandingCDN.github.io/src/clients/the-kindy-garden/squarespace-updates/assets/icon-location.svg");
}

.footer__information__item.email p::before {
    content: url("https://cogbranding.github.io/COGbrandingCDN.github.io/src/clients/the-kindy-garden/squarespace-updates/assets/icon-email.svg");
}

.footer__information__item.phone p::before {
    content: url("https://cogbranding.github.io/COGbrandingCDN.github.io/src/clients/the-kindy-garden/squarespace-updates/assets/icon-phone.svg");
}
