<div class="accordion accordion-1">

    <h2>Services</h2>
    <!-- Accordion 1 -->
    <div>
        <input type="radio" name="panel" id="panel-1">
        <label for="panel-1">How do I book your services?</label>
        <div class="accordion__content accordion__content--large">
            <p class="accordion__body">To book our services, there is a process.
                <ol>
                    <li>Reach out to the team at Barc for Pets via the contact page <a href="/contact/">here</a> to book a phone discussion.</li>
                    <li>Once suitability has been assessed a behavioural assessment will be booked in. From there, you are free to book all year round via the bookings email, <a href="javascript:window.location.href = 'mailto:' + ['bookings','barcforpets.com'].join('@')">bookings<!---->@<!---->barcforpets.com</a></p></li>
                </ol>
            </p>
        </div>
    </div>

    <!-- Accordion 2 -->
    <div>
        <input type="radio" name="panel" id="panel-2">
        <label for="panel-2">How many dogs do you take overnight?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">We take a maximum of 3 dogs overnight in each of our team members family homes.</p>
        </div>
    </div>

    <!-- Accordion 3 -->
    <div>
        <input type="radio" name="panel" id="panel-3">
        <label for="panel-3">Where do the dogs sleep?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">All the dogs sleep inside like part of the family. We do not accommodate outdoor sleeping arrangements for safety and security reasons.</p>
        </div>
    </div>

    <!-- Accordion 4 -->
    <div>
        <input type="radio" name="panel" id="panel-4">
        <label for="panel-4">Will I receive photos and communication of my pets?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">Yes, we will update social media with daily photos and videos. You will also have direct contact with the team member caring for your pets. You are free to call and text anytime within business hours.</p>
        </div>
    </div>

    <!-- Accordion 5 -->
    <div>
        <input type="radio" name="panel" id="panel-5">
        <label for="panel-5">Do you have police and reference checks for your team for providing house sitting services and access to properties?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">Yes we do, our staff have all been police checked, referenced checked prior to employment, we have long standing team members that we work with.</p>
        </div>
    </div>

    <!-- Accordion 6 -->
    <div>
        <input type="radio" name="panel" id="panel-6">
        <label for="panel-6">Do your team have their pet first aid certificate?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">Yes all of our team have completed their pet first aid course as a minimum.</p>
        </div>
    </div>

    <!-- Accordion 7 -->
    <div>
        <input type="radio" name="panel" id="panel-7">
        <label for="panel-7">How do I pay for your services?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">Our overnight services are paid for in full at the time of the booking, we accept all credit cards, EFT, Cash, union pay and diners. For our weekly day time services we have a direct debit system.</p>
        </div>
    </div>

    <!-- Accordion 8 -->
    <div>
        <input type="radio" name="panel" id="panel-8">
        <label for="panel-8">Do you offer pick up and drop off services?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">All of our services include pick up and drop off to your door. We do not require you to be at the property pending prior arrangements.</p>
        </div>
    </div>

    <!-- Accordion 9 -->
    <div>
        <input type="radio" name="panel" id="panel-9">
        <label for="panel-9">How long is the farm experience?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">Our farm and outdoor doggie day care experiences are both for approximately 6 hours.</p>
        </div>
    </div>

    <!-- Accordion 10 -->
    <div>
        <input type="radio" name="panel" id="panel-10">
        <label for="panel-10">How many dogs go to the farm each day?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">We take small groups of dogs to the farm each day with groups of 10 maximum.</p>
        </div>
    </div>

    <!-- Accordion 11 -->
    <div>
        <input type="radio" name="panel" id="panel-11">
        <label for="panel-11">Are the dogs secured in the car?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">Yes all the dogs are secured into our cars in seat belts and/or crates.</p>
        </div>
    </div>

    <!-- Accordion 12 -->
    <div>
        <input type="radio" name="panel" id="panel-12">
        <label for="panel-12">Do you do one on one walks?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">We do not offer one on one walks to our clients however we would be happy to refer you to our friends who do.</p>
        </div>
    </div>

    <!-- Accordion 13 -->
    <div>
        <input type="radio" name="panel" id="panel-13">
        <label for="panel-13">Do you offer house sitting services that require 24/7 care?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">Yes we do however our normal pricing guide would not apply and a formalized quotation will be in your behavioural assessment.</p>
        </div>
    </div>

    <!-- Accordion 14 -->
    <div>
        <input type="radio" name="panel" id="panel-14">
        <label for="panel-14">Do you offer overnight minding and holiday stays that require 24/7 care?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">In general no we do not as we would always recommend house sitting if your dog is unable to be left alone and suffers from separation anxiety. Please reach out for more information.</p>
        </div>
    </div>

    <!-- Accordion 15 -->
    <div>
        <input type="radio" name="panel" id="panel-15">
        <label for="panel-15">Can my dog come for a sleepover if we don’t use your day care services?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">Please reach out and we can discuss your circumstances however in general the answer is no.</p>
        </div>
    </div>

</div> <!-- Services Accordion -->

<div class="accordion accordion-2">

    <h2>Products</h2>
    <!-- Accordion 1 -->
    <div>
        <input type="radio" name="panel" id="panel-16">
        <label for="panel-16">How long does shipping take?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">3-5 days. Shipping and handling may be longer for locations outside of Sydney. We are currently experiencing extended delays by up to 2 weeks on certain products.</p>
        </div>
    </div>

    <!-- Accordion 2 -->
    <div>
        <input type="radio" name="panel" id="panel-17">
        <label for="panel-17">How much are your shipping costs?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">Shipping is 100% free! Enjoy.</p>
        </div>
    </div>

    <!-- Accordion 3 -->
    <div>
        <input type="radio" name="panel" id="panel-18">
        <label for="panel-18">Do you ship internationally or outside of Australia?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">Sadly we do not ship internationally (outside of Australia) however we look forward to introducing this in the near future.</p>
        </div>
    </div>

    <!-- Accordion 4 -->
    <div>
        <input type="radio" name="panel" id="panel-19">
        <label for="panel-19">What is your refund and exchange policy?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">We will happily accept exchanges and returns on purchases within 7 days of you receiving your merchandise. Please refer <a href="/returns">here</a> for more information.</p>
        </div>
    </div>

    <!-- Accordion 5 -->
    <div>
        <input type="radio" name="panel" id="panel-20">
        <label for="panel-20">Where can I find my dogs size?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">Sizing varies between brands. Please refer to the size charts provided for each individual product as you see them on the website.</p>
        </div>
    </div>

    <!-- Accordion 6 -->
    <div>
        <input type="radio" name="panel" id="panel-21">
        <label for="panel-21">Do you support any charities?</label>
        <div class="accordion__content accordion__content--small">
            <p class="accordion__body">Yes we do, we are currently in the process of collaborating with a charity on a more permanent basis. Up until now we make sporadic donations where possible.</p>
        </div>
    </div>

</div><!-- Products Accordion -->

<!-- Styling -->
<style>
/*
* Accordion
*/
/* Basic Accordion Styles */
.accordion h2{
    font-weight: 600;
}
.accordion.accordion-1{
    padding-bottom: 60px;
}
.accordion input[name=panel] {
  display: none;
}

.accordion label {
  position: relative;
  display: block;
  padding: 24px 16px;
  background: #fff;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  transition: all 0.5s ease;
}
.accordion label:after {
    content: "+";
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
    color: #333;
    text-align: center;
}
.accordion label:hover {
    background: rgb(245,245,245);
    color: #111;
}
.accordion input:checked + label {
    font-weight: 600;
    background: rgb(245,245,245);
    color: #111;
    border-bottom: 0;
    transition: all 0.5s ease;
}
.accordion input:checked + label:after {
    content: "-";
    line-height: 0.8em;
}
.accordion .accordion__content {
    overflow: hidden;
    height: 0px;
    position: relative;
    padding: 0 20px;
    background: #fff;
    color: #333;
    transition: height 0.5s ease;
}
.accordion .accordion__content .accordion__body {
    font-size: 16px;
    line-height: 1.6em;
    padding-top: 20px;
}

/* Size */
input[name=panel]:checked ~ .accordion__content.accordion__content--small,
input[name=panel]:checked ~ .accordion__content.accordion__content--large{
    height: 150px;
}
@media (max-width: 750px){
    input[name=panel]:checked ~ .accordion__content.accordion__content--large {
    height: 100%;
    }
}

</style>