.woocommerce-account {
    #main-content {
        background-color: $color-white !important;
        min-height: 100vh;

        .container {
            @media all and (max-width: $bp-tablet-sm-up) {
                padding-top: 2rem !important;
            }
        }
    }

    h1.entry-title {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;

        @media all and (min-width: $bp-desktop) {
            padding-top: 1rem;
        }
    }

    h3 {
        font-size: 1.25rem;
        padding-bottom: 10px;
    }
}

.woocommerce-MyAccount {
    &-navigation {
        background-color: $color-white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: var(--shadow-md);

        @media all and (max-width: $bp-tablet-sm-up) {
            margin-bottom: 2rem;
        }

        ul {
            padding: 0 !important;

            li {
                list-style-type: none;

                a {
                    display: flex;
                    align-items: center;
                    padding: 0 1.5rem 0 3rem;
                    height: 55px;
                    font-size: 0.9375rem;
                    font-weight: 400;
                    color: $color-black;
                    width: 100%;

                    @media all and (max-width: $bp-tablet-sm-up) {
                        height: 50px;
                    }

                    // // Compile error
                    // &:hover {
                    //     background-image: linear-gradient(rgb(0 0 0 / 5%) 0 0);
                    // }
                }
            }
        }

        &-link {
            display: flex;
            align-items: center;

            &:hover {
                background-color: $color-lighter-grey;
            }

            &.is-active {
                a {
                    background-color: $color-lighter-grey;
                }
            }

            &::before {
                position: absolute;
                left: 1rem;
                width: 1rem;
                height: 1rem;
                margin-top: -4px;
            }

            &--dashboard {
                &::before {
                    content: url("https://cogbranding.github.io/COGbrandingCDN.github.io/src/components/divi-woocommerce/account-dashboard/assets/icon-dashboard.svg");
                }
            }

            &--orders {
                &::before {
                    content: url("https://cogbranding.github.io/COGbrandingCDN.github.io/src/components/divi-woocommerce/account-dashboard/assets/icon-orders.svg");
                }
            }

            &--downloads {
                display: none;
            }

            &--edit-address {
                &::before {
                    content: url("https://cogbranding.github.io/COGbrandingCDN.github.io/src/components/divi-woocommerce/account-dashboard/assets/icon-address.svg");
                }
            }

            &--payment-methods {
                &::before {
                    content: url("https://cogbranding.github.io/COGbrandingCDN.github.io/src/components/divi-woocommerce/account-dashboard/assets/icon-payment-method.svg");
                }
            }

            &--edit-account {
                &::before {
                    content: url("https://cogbranding.github.io/COGbrandingCDN.github.io/src/components/divi-woocommerce/account-dashboard/assets/icon-account-details.svg");
                }
            }

            &--customer-logout {
                &::before {
                    content: url("https://cogbranding.github.io/COGbrandingCDN.github.io/src/components/divi-woocommerce/account-dashboard/assets/icon-logout.svg");
                }
            }
        }
    }

    &-content {
        background-color: $color-white;
        border-radius: 10px;
        padding: 1.5rem;
        box-shadow: var(--shadow-md);

        a {
            color: $color-black;
            opacity: 0.5;
            transition: all 0.15s ease-in-out;

            &:hover {
                opacity: 1;
                transition: all 0.15s ease-in-out;
            }
        }

        label {
            font-size: 0.9375rem !important;
            font-weight: 600;
            color: $color-black;
            border-bottom: 0 !important;
        }

        input {
            background-color: $color-white !important;
            border: 1px solid $color-border !important;
            border-radius: 5px !important;
            height: 40px !important;
            box-shadow: var(--shadow-xs) !important;
            transition: all 0.1s ease-in-out;

            &:hover,
            &:focus {
                box-shadow: var(--shadow-lg) !important;
                transition: all 0.1s ease-in-out;
            }

            &:focus {
                border: 1px solid $color-black !important;
                transition: all 0.1s ease-in-out;
            }

            &::placeholder {
                color: $color-black !important;
                opacity: 0.5;
            }
        }

        .form-row em {
            display: none;
        }

        button {
            margin-top: 1rem !important;
            background-color: var(--info-l1) !important;
            border: 1px solid var(--info-l2) !important;
            color: var(--info) !important;
            font-size: 0.875rem !important;
            border-radius: 10px !important;
            padding: 6px 12px !important;

            // // Causes compile error
            // &:hover {
            //     background-image: linear-gradient(
            //         rgb(0 0 0 / 5%) 0 0
            //     ) !important;
            // }

            &::after {
                display: none !important;
            }
        }

        .edit-account {
            fieldset {
                display: none;
            }
        }

        .woocommerce-table,
        .woocommerce-orders-table {
            border: 1px solid $color-border !important;

            &__header,
            th {
                font-size: 0.875rem;
                color: $color-black;
            }

            &__cell,
            td,
            td span {
                font-size: 0.875rem;
                font-weight: 400 !important;
                color: $color-grey;

                a {
                    opacity: 1;
                    border-bottom: 1px solid $color-grey;
                    transition: all 0.1s ease-in-out;

                    &:hover {
                        border-bottom: 1px solid $color-white;
                        transition: all 0.1s ease-in-out;
                    }
                }

                &-order-actions {
                    a {
                        opacity: 1;
                        padding: 6px 12px !important;
                        background-color: var(--info-l1) !important;
                        border: 1px solid var(--info-l2) !important;
                        color: var(--info) !important;
                        font-size: 0.875rem !important;
                        border-radius: 10px !important;

                        // // Compile error
                        // &:hover {
                        //     background-image: linear-gradient(
                        //         rgb(0 0 0 / 5%) 0 0
                        //     );
                        // }

                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }

        .woocommerce-order-details,
        .woocommerce-customer-details {
            padding-top: 2rem;

            h2 {
                font-size: 1.25rem;
                font-weight: 400;
            }
        }

        address {
            border: 1px solid $color-border;
            border-bottom-width: 1px;
            border-right-width: 1px;
            padding: 1rem !important;
            font-size: 0.9375rem;
            color: $color-grey;

            p {
                font-size: 0.9375rem;
                line-height: 1.7;
                padding-bottom: 0;

                &.woocommerce-customer-details--phone {
                    padding-top: 1em;
                }
            }
        }

        mark {
            background-color: transparent;
        }
    }
}
