img {
    margin-bottom: 16px;
}

p {
    font-family: Arial;
    font-size: 14px;
    margin: 0;
}

p.p1 {
    font-size: 14px;
}

p.p2 {
    font-weight: 700;
}

p.p3 {
    font-size: 12px;
    color: #808080;
}

p.p4 {
    font-size: 12px;
    color: #999;
    padding-top: 10px;
}

span.a1 {
    color: #00AEEF;
    margin-right: 10px;
}

span.a1 a {
    color: #00AEEF;
    text-decoration: underline;
}

span.a1 a:hover {
    text-decoration: none;
}

span.a1.last {
    margin-right: 0;
}