// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$bp-mobile: 479px;
$bp-mobile-up: 480px;
$bp-tablet-sm: 767px;
$bp-tablet-sm-up: 768px;
$bp-tablet: 980px;
$bp-desktop: 981px;

// By default, the header breakpoint is 980px, change this value if you need to call the header at a different width, then use this as the breakpoint.
$bp-header: 980px;
