<div class="dropdown">
    <div class="dropdown__field">Brand Management Design</div>
    <ul class="dropdown__items__list">
        <li>
            <a
                class="dropdown__items__list__item"
                href="/design-services/brand-management-design/brand-creative-direction/"
                >Brand Creative Direction</a
            >
        </li>

        <li>
            <a
                class="dropdown__items__list__item"
                href="/design-services/brand-management-design/brand-identity-design/"
                >Brand Identity Design</a
            >
        </li>

        <li>
            <a
                class="dropdown__items__list__item"
                href="/design-services/brand-management-design/brand-style-guide-design/"
                >Brand Style Guide Design</a
            >
        </li>

        <li>
            <a
                class="dropdown__items__list__item"
                href="/design-services/brand-management-design/brand-advertising-design/"
                >Brand Advertising Design</a
            >
        </li>

        <li>
            <a
                class="dropdown__items__list__item"
                href="/design-services/brand-management-design/brand-product-design/"
                >Brand Product Design</a
            >
        </li>

        <li>
            <a
                class="dropdown__items__list__item"
                href="/design-services/brand-management-design/rebranding-design/"
                >Rebranding Design</a
            >
        </li>

        <li>
            <a
                class="dropdown__items__list__item"
                href="/design-services/brand-management-design/logo-and-icon-design/"
                >Logo Design</a
            >
        </li>

        <li>
            <a
                href="/design-services/brand-management-design/illustration-design/"
                class="dropdown__items__list__item"
                >Illustration Design</a
            >
        </li>
    </ul>
</div>
